@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --police: ¨Poppins¨, sans-serif;
    --color-button: #7286D3;
    --password-color: #8EA7E8;
}
body{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--police);
}

html{
    font-size: 10px;
}

section{
    display: flex;
    padding: 8.1rem 9.5rem 10.4rem 12.4rem;
    gap: 3.3rem;
    align-items: center;
}

.div-img{
    width: 70rem;
    height: 71.9rem;
    padding-bottom: 7.8rem;
}

.div1{
    width: 56rem;
    height: 79.7rem;
}

.div1>h2{
    font-size: 4rem;
    width: 51.4rem;
    height: 6rem;
    margin-bottom: 5.6rem;
    margin-right: 4.6rem;
    font-family: var(--police);
}

.container{
    display: flex;
    flex-direction: column;
}

.mail{
    font-family: var(--police);
    width: 14.3rem;
    height: 2.9rem;
    font-size: 2rem;
    color: #191C2C;
}

.pass{
    font-family: var(--police);
    width: 14.3rem;
    height: 2.9rem;
    font-size: 2rem;
    color: #191C2C;
}

.input-mail{
    position: relative;
    margin-top: 1.3rem;
    margin-bottom: 2.1rem;
    
}
.tof1{
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 2rem;
    height: 1.6rem;
    transform: translateY(-50%);
}
.input-fiel1{
    width: 55rem;
    height: 7.4rem;
    font-size: 2rem;
    border-radius: 2rem;
    border:none;
    outline: 0.2rem solid #8EA7E8;
    padding-left: 5rem;
    color: #999;
    font-family: var(--police);
}

.input-password{
    position: relative;
    margin-top: 1.3rem;
    margin-bottom: 2.1rem;
}
.tof2{
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 1.6rem;
    height: 2.1rem;
    transform: translateY(-50%);
}
.input-fiel2{
    width: 55rem;
    height: 7.4rem;
    font-size: 2.5rem;
    border-radius: 2rem;
    border:none;
    outline: 0.2rem solid #9E9E9F;
    padding-left: 5rem;
    color: #999; 
    font-family: var(--police);
}

.cote{
    font-family: var(--police);
    width: 21.6rem;
    height: 3.5rem;
    padding: 1.5rem 1.1rem 2rem 40.3rem;
}
.cote2{
    font-size: 2rem;
    color: var(--password-color);
}

.btn{
    width: 28.5rem;
    height: 7rem;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    margin: 2.8rem 13.8rem 7.4rem 13.7rem;
    background-color: var(--color-button);
}

.modif{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--police);
    margin-bottom: 5rem;
}

.modif::before, .modif::after{
    content: '';
    flex: 1;
    height: 0.1rem;
    background-color: #9E9E9F;
}

.modif span{
    font-size: 2rem;
    white-space: nowrap;
}

.sec{
    display: flex;
    padding: 4rem;
    gap: 9.6rem;
    align-items: center;
    justify-content: center;
}

/* bloc */
.bloc1, .bloc2, .bloc3{
    position: relative;
    width: 10.6rem;
    height: 10.6rem;
}

.img1, .img3, .img5 {
    width: 10.6rem;
    height: 10.6rem;
}
/* les cercles */
.img2, .img4, .img6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.8rem;
    height: 5.8rem;
}

